.container{
  max-width: 85%;
  margin:0px auto;
}

.search {
  display: block;
  margin: 30px auto;
  width: 50%;
  padding: 18px;
  outline: 0;
  border: 1px #000 solid;
  height: 60px;
  transition: box-shadow .3s;
  font-size: 1.2em;
  font-family: 'Inconsolata', monospace;

}
.search:active,.search:focus {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: 2px #000 solid;

}
.container .parent{
  columns:3 250px;
  gap: 15px;
}

.container .parent .img-container {
  transition: box-shadow .3s;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  
}
.img-container a{
  width: 100%;
  height: 100%;
  position: relative;
}
.img-container .basic-artwork-info {
  position: absolute;
  bottom: 15px;
  opacity: 0;
  transition: 0.3s;
  color: #FFF;
  padding: 10px;
}
.img-container .basic-artwork-info .artwork-title {
  font-size: 1.3em;
  font-weight: bold;
}
.img-container .basic-artwork-info .artwork-artist {
  font-size: 0.8em;
}
.img-container:hover .basic-artwork-info {
  opacity: 1;
}
.img-container img {
  width: 100%;
  z-index: -5;
  display: block;
  position: relative;
}
.img-container:hover{
  box-shadow: rgb(0 0 0 / 50%) -15px -140px 60px -25px inset
}